<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/AmandaTemplate.css">
   </head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Pylot) </span> Exam B - Quotes: </h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <p>Assigment description: </p>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red; margin-left: 25%">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="row">
            <p style="text-align:right"> Welcome: <span class="boldme">{{ session['name']}}</span> - ({{ session['id']}}) - <a href="/logout">Logout</a></p>
            </div>
            <div class="column">
                <div class="row"><h3>Quotable Quotes:</h3></div>
                {% if allQuote %}
                    {% for quote in allQuote %}
                        <div class="row"><p>{{ quote['message'] }}</p></div>
                        <div class="row"><p>Posted by: <a href="/userEntries/{{ quote['userID']}}"> {{ quote['first_name'] }}</a> - <a href="/addFav/{{ quote['quotesID'] }}"><button> Add to favorites</button></a></p></div>
                        </br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="column">
                <div class="row"><h3>Your Favorites:</h3></div>
                {% if allFav %}
                    {% for fqoute in allFav %}
                        <div class="row"><p>{{ fqoute['message']}}</p></div>
                        <div class="row"><p>Posted by: <a href="/userEntries/{{ fqoute['userID']}}">{{fqoute['first_name']}} </a> - <a href="/removeFav/{{ fqoute['favQID'] }}"><button>Remove from my favorites</button></a></p></div>
                        </br>
                    {% endfor %}
                {% endif %}
                <div class="space"> </div>
                <form action="/addQuote" method="post">
                    <div class="row"><h4>Contribute a Quote:</h4></div>
                    <div class="row"><p>Quoted By: <input type="text" name="author"></p></div>
                    <div class="row"><p>Message: <input type="text" name="message"></p></div>
                    <div class="row"><input type="submit" value="Submit"></div>
                </form>
            </div>
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
